.button {
  @extend %flex-center;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  padding: $button-padding;
  border-radius: $button-border-radius;
  white-space: nowrap;
  cursor: pointer;
  gap: 0.5rem;
  outline: none;
  border: 0;
  text-transform: capitalize;

  &-lg {
    font-size: $font-size-lg;
    padding: $button-padding-lg;
  }

  &-primary {
    background-color: $button-primary-bg;
    color: $button-primary-color;

    &:hover {
      background-color: $button-hover-bg;
    }

    &:active {
      background-color: $button-active-bg;
    }

    &:focus {
      border: $button-focus-border;
    }

    &:disabled {
      background-color: $button-disabled-bg;
      color: $button-disabled-color;
      opacity: $button-disabled-opacity;
      cursor: not-allowed;
    }
  }

  &-danger {
    background-color: $danger-color;
    color: $light-color;

    &:hover {
      background-color: darken($danger-color, 10%);
    }

    &:active {
      background-color: darken($danger-color, 20%);
    }

    &:focus {
      border: $button-focus-border;
    }

    &:disabled {
      background-color: $dark-color;
      color: $light-color;
      opacity: $button-disabled-opacity;
      cursor: not-allowed;
    }
  }
}
