.sidebar {
  width: 230px;
  max-width: 230px;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100vh;
  border-right: $border-width solid $border-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-medium;
}

.sidebar a:first-child {
  opacity: 1;
}

.sidebar a {
  padding: $spacing-md;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  gap: 0.75rem;
  color: $text-color;
}

.sidebar a img {
  width: 20px;
}

.sidebar a:hover {
  background: $primary-lighter;
}

.sidebar a.active {
  background: $primary-color;
  opacity: 1;
  color: $light-color;

  img {
    filter: invert(1);
  }
}

.sidebar .logo {
  opacity: 1;
  width: 50px;
}
