.progress {
  position: relative;
  display: flex;
  width: 100%;
  height: 80px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $primary-lighter;
    border-radius: $border-radius-md;
    transform: translateY(-50%);
    transition: width 0.5s;
  }

  &__text {
    position: absolute;
    top: calc(50% - 32px);
    left: 50%;
    transform: translateX(-50%);
    margin-left: 8px;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
  }

  &__step {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: $font-size-sm;
    color: $primary-color;
    position: relative;
    width: 100%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: -50%;
      width: 100%;
      height: 4px;
      background-color: $primary-color;
      z-index: 1;
      border-radius: $border-radius-md;
    }

    &::after {
      left: 50%;
      width: 10px;
      height: 10px;
      background-color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 50%;
      z-index: 2;
    }

    &:first-child::before {
      left: 0;
    }
    &:first-child.active::before {
      width: 50%;
    }
    &:last-child::before {
      width: 150%;
    }

    &.active {
      &::after {
        width: 15px;
        height: 15px;
        background-color: $primary-color;
        border: 1px solid $primary-color;
      }
      & ~ .progress__step {
        &::after {
          border-color: $primary-color;
        }

        &::before,
        &::after {
          background-color: $primary-lighter;
        }
      }
    }
    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}
