.table {
  width: 100%;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  overflow-x: auto;

  th,
  td {
    padding: $table-padding;
    text-align: left;
    border-width: 0;
    border-style: solid;
    border-color: $table-border-color;
    text-transform: capitalize;

    p {
      margin: 0;
    }
  }

  th {
    border-bottom: 0px;
    background-color: $primary-lighter;
    color: $primary-dark;
    font-size: $font-size-sm;

    &:first-child {
      border-radius: $border-radius-lg 0 0 $border-radius-lg;
    }

    &:last-child {
      border-radius: 0 $border-radius-lg $border-radius-lg 0;
    }
  }

  td {
    border-bottom: $table-border-width solid $table-border-color;
    font-size: $font-size-sm;
  }
}
