.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
}

.auth-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-radius: $card-border-radius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background-color: #fff;
  color: #666;
  width: 100%;
  padding: 1rem;
}

.auth-title {
  font-size: 20px;
  font-weight: 600;
  color: $primary;
}

.auth-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: $secondary;
}

.auth-divider {
    position: relative;
    color: $secondary;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
  
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  
    &::after,
    &::before {
      position: absolute;
      top: 50%;
      background-color: $card-border-color;
      width: calc(50% - 30px);
      height: 1px;
      content: "";
    }
}
  
.auth-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    object-fit: cover;
}