.comments {
  display: flex;
  flex-direction: column;
  gap: $spacer;
}
.comment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  background-color: #fff;
  padding: $spacer;

  &-user {
    display: flex;
    align-items: start;
    gap: $spacer;

    &-info {
      display: flex;
      flex-direction: column;
      margin-right: auto;
    }

    img {
      border: 1px solid #e1e1e1;
      border-radius: 50%;
      background-color: #e1e1e1;
      width: 50px;
      min-width: 50px;
      max-width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }

  &-review {
    display: flex;
    flex-direction: column;
  }

  &-qa {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &-media {
    display: flex;
    gap: 1rem;
  }

  &-image {
    display: block;
    position: relative;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    max-width: 90%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
  }

  &-thumb {
    cursor: pointer;
    border-radius: 6px;
    width: 60px;
    height: 100px;
    object-fit: cover;

    &:hover {
      opacity: 0.8;
    }
  }
}
