.dashboard-map,
.dashboard-graph {
  padding: $spacer;
  font-size: 14px;
  border-radius: $card-border-radius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 220px;
  overflow: hidden;
  position: relative;
}

.dashboard-map {
  padding: 0;
}

.dashboard-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #666;
}