.docker-graph,
.docker-image-history,
.docker-image-info,
.docker-image-data {
  display: flex;
  position: relative;
  flex-direction: column;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: $card-border-radius;
  background-color: #fff;
  padding: $spacer;
  overflow: hidden;
  color: #666;
  font-size: 14px;
}

.docker-title {
  margin-bottom: 0.5rem;
  color: #666;
  font-weight: 600;
  font-size: 16px;
}

.docker-graph {
  min-height: 220px;
}

.docker-image-time {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 $card-border-radius;
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  color: #666;
  font-size: 12px;
}
