.place {
  margin-bottom: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;

  .google-map {
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    height: 300px;
  }

  &-info {
    border-bottom: 1px solid #e0e0e0;
    padding: $spacer;
  }
}
