.place {
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background-color: #fff;
  color: #666;
  border-radius: $card-border-radius;
  font-size: 14px;

  &-title {
    display: block;
    font-size: 16px;
    font-weight: 600;
  }

  &-info {
    padding: $spacer;

    &-details {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      color: #666;
      padding: 0.25rem 0;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &-label {
      font-weight: 600;
      font-size: 14px;
    }

    &-value {
      font-size: 14px;
    }
  }

  &-accordion {
    &-header {
      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        color: #666;
        box-shadow: none !important;
        outline: none;
      }
    }
  }
}
