.place {
  margin-bottom: 1rem;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;
  background-color: #fff;
  overflow: hidden;

  .google-map {
    border-bottom: $card-border-width solid $card-border-color;
    width: 100%;
    height: 300px;
  }

  &-info {
    border-bottom: $card-border-width solid $card-border-color;
    padding: $spacer;
  }

  &-title {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 20px;
  }
}
