.scrap {
  &-validate-url {
    display: flex;
    padding: 1rem;
    align-items: start;
    background-color: #fff;
    border-radius: $card-border-radius;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  
  &-extract-type {
    display: flex;
    padding: 1rem;
    background-color: #fff;
    border-radius: $card-border-radius;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
    
    label {
      cursor: pointer;
    }

    .badge {
      background-color: var(--bs-secondary-bg) !important;
      color: var(--bs-secondary);
    }

    &:hover {
      background-color: var(--bs-secondary-bg);
    }

    &[aria-disabled="true"] {
      background-color: var(--bs-secondary-bg);
      color: var(--bs-secondary);

      .badge {
        color: var(--bs-secondary);
      }
    }

    &.active {
      background-color: var(--bs-success-bg-subtle);
      color: var(--bs-success);

      .badge {
        background-color: var(--bs-success) !important;
        color: #fff;
      }
    }
  }

  &-extract-options {
    display: flex;
    padding: 1rem;
    background-color: #fff;
    border-radius: $card-border-radius;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
}