.sidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  z-index: 1;
  // border-right: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  .sidebar-header {
    display: flex;
    align-items: center;
    padding: 0.8125rem 1rem;
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .sidebar-item {
    display: flex;
    position: relative;
    align-items: center;
    gap: .5rem;
    z-index: 2;
    transition: color 0.12s;
    padding: 0.5rem 1rem;
    width: 100%;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.82;
    color: $dark;

    &.active {
      background-color: #f8f9fa;
      color: $primary;
    }
  }

  .sidebar-group {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .sidebar-group-title {
    display: block;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    padding: 0 1rem;
    width: 100%;
    font-size: 80%;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.82;
  }

  &.sidebar-collapsed {
    width: 60px;
    min-width: 60px;
    max-width: 60px;

    .sidebar-group-title,
    .sidebar-logo {
      display: none;
    }

    .sidebar-item {
      justify-content: center;
      margin: 0;
      padding: 0.5rem 0;

      svg {
        margin: 0;
        width: 24px;
        height: 24px;
      }

      span,
      .badge {
        display: none;
      }
    }
  }
}

@media (max-width: 1200px) {
  .sidebar {
    width: 60px;
    min-width: 60px;

    .sidebar-group-title,
    .sidebar-logo {
      display: none;
    }

    .sidebar-item {
      justify-content: center;
      margin: 0;
      padding: 0.5rem 0;

      svg {
        margin: 0;
        width: 24px;
        height: 24px;
      }

      span,
      .badge {
        display: none;
      }
    }
  }
}
