.sidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  border-right: $card-border-width solid $card-border-color;
  background-color: #fff;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: 100%;

  .sidebar-header {
    display: flex;
    align-items: center;
    border-bottom: $card-border-width solid $card-border-color;
    padding: 0 $spacer;
    height: 60px;
  }

  .sidebar-logo {
    margin: 0;
    height: 30px;
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .sidebar-item {
    display: flex;
    position: relative;
    align-items: center;
    gap: $spacer;
    z-index: 2;
    transition: background-color 0.2s;
    padding: 0.5rem 1rem;
    width: 100%;
    color: $secondary;
    text-decoration: none;

    &.active {
      background-color: $primary-bg-subtle;
      color: $primary;
    }
  }

  .sidebar-group {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .sidebar-group-title {
    display: block;
    position: relative;
    margin-top: $spacer;
    padding: 0 $spacer;
    width: 100%;
    color: $secondary;
    font-weight: 600;
    font-size: 12px;
  }

  &.sidebar-collapsed {
    width: 60px;
    min-width: 60px;
    max-width: 60px;

    .sidebar-group-title,
    .sidebar-logo {
      display: none;
    }

    .sidebar-item {
      justify-content: center;
      margin: 0;
      padding: 0.5rem 0;

      svg {
        margin: 0;
        width: 24px;
        height: 24px;
      }

      span,
      .badge {
        display: none;
      }
    }
  }
}

// Add media query for sidebar collapse
@media (max-width: 1200px) {
  .sidebar {
    width: 60px;

    .sidebar-group-title,
    .sidebar-logo {
      display: none;
    }

    .sidebar-item {
      justify-content: center;
      margin: 0;
      padding: 0.5rem 0;

      svg {
        margin: 0;
        width: 24px;
        height: 24px;
      }

      span,
      .badge {
        display: none;
      }
    }
  }
}
