.users-list {
  display: flex;
  flex-direction: column;
}

.user-data {
  width: 100%;
  display: flex;
  position: relative;
  padding: $spacer;
  overflow: hidden;
  font-size: 14px;
}

.user-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #fff;
  border-radius: $card-border-radius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.06) 0px 1px 2px;
  font-size: 14px;
}

.user-info {
  padding: 1rem;
  background: #fff;
  border-radius: $card-border-radius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.06) 0px 1px 2px;
  font-size: 14px;
}