@import "./components/sidebar";

@import "./components/table";
@import "./pages/reviews";
@import "./base/typography";

.content {
  width: calc(100% - 180px);
  margin-left: 180px;
  padding: 1.5rem 3rem;
}

.cursor-pointer {
  cursor: pointer;
}
