/* Global Styles */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */
.spacing-12 {
    gap: 12px;
}

.spacing-16 {
    gap: 16px;
}

.spacing-20 {
    gap: 20px;
}

.spacing-24 {
    gap: 24px;
}

.spacing-36 {
    gap: 36px;
}

.spacing-40 {
    gap: 40px;
}

.spacing-48 {
    gap: 48px;
}

.spacing-76 {
    gap: 76px;
}

.text-center {
    text-align: center;
}

.geo-text-primary {
    color: rgba(0, 0, 0, 1);
}

.geo-text-secondary {
    color: rgba(114, 114, 114, 1);
}

.text-light {
    color: rgba(175, 175, 175, 1);
}

/* Buttons */
.geo-btn {
    height: 37px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.geo-btn-light {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.geo-btn-primary {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.04);
}

.geo-btn-outline {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
}

/* Navbar */

.geo-navbar {
    height: 85px;
}

.navbar-brand {
    width: 115px;
    height: 28px;
}

.geo-navbar-menu li a {
    font-weight: 400;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
}

.heading-lg {
    font-size: 84px;
    font-weight: 500;
}

.medium-subtitle {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.small-bold-subtitle {
    font-size: 14px;
    font-weight: 600;
}

.description-content {
    width: 100%;
    height: 680px;
    border-radius: 6px;
}

.social-proof {
    padding: 96px 0;
}

.geo-h2 {
    font-size: 48px;
    font-weight: 500;
}

.features-content {
    height: 406px;
}

.advantage {
    padding: 148px 0;
}

.advantage-carousel-card {
    background-color: rgba(249, 249, 249, 1);
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 8px;
    padding: 24px;
    width: 515px;
    height: 466px;
}

.geo-h6 {
    font-size: 20px !important;
    font-weight: 500 !important;
}

.small-subtitle {
    font-size: 14px;
    font-weight: 400;
}

.integration {
    padding: 48px 0;
}

.integration-card {
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 8px;
}

.integration-card-headline {
    padding: 36px 36px 0 36px;
}

.geo-h3 {
    font-size: 32px !important;
    font-weight: 500 !important;
}

.integration-card-content {
    height: 293px;
}

.testimonal {
    padding: 96px 0;
}

.testimonal-headline p {
    font-size: 18px;
    font-weight: 400;
}

.testimonal-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.testimonal-content-single {
    display: flex;
    position: relative;
    gap: 24px;
    width: 100%;
    justify-content: center;
    overflow-x: hidden;
}

.testimonal-content-single::before {
    content: "";
    height: 100%;
    background-color: aqua;
    width: 200px;
    position: absolute;
    left: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
}

.testimonal-content-single::after {
    content: "";
    height: 100%;
    background-color: aqua;
    width: 200px;
    position: absolute;
    right: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%);
}

.testimonal-content-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: 40px;
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 8px;
    width: 410px;
}

.testimonal-content-card p {
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.card-user-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-user {
    display: flex;
    gap: 12px;
}

.card-user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.card-user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-user-name h4 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

.card-user-name small {
    font-size: 14;
    font-weight: 400;
    color: rgba(175, 175, 175, 1);
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 80px;
}

.geo-bg-primary {
    background-color: rgba(0, 0, 0, 1);
}

/* Footer */
.footer {
    padding: 64px 0;
}

.social-icon-single {
    width: 40px;
    height: 40px;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 20px;
}

.copyright {
    font-size: 14px;
    margin-top: 56px;
    text-align: center;
    color: rgba(175, 175, 175, 1);
}

@media (max-width: 768px) {
    .heading-lg {
        font-size: 48px !important;
    }

    .geo-h2 {
        font-size: 36px !important;
    }

    .description-content {
        display: none;
    }

    .trusted-img {
        width: 100px;
        height: 40px;
    }

    .spacing-md-24 {
        gap: 24px;
    }

    .testimonal-content-single {
        justify-content: left !important;
    }

    .testimonal-content-card {
        width: 405px !important;
    }

    .testimonal-content-single::before,
    .testimonal-content-single::after {
        display: none;
    }
}

.geo-carousel {
    overflow-x: hidden;
    white-space: nowrap;
    padding: 10px;
    width: 100%;
}

.geo-carousel-content {
    display: inline-flex;
    gap: 10px;
}

.geo-carousel-content-item {
    min-width: 500px;
    height: 150px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}