/* 
  styles.css
  Author: [Tukhsanov]
  Date: [25.10.2024]
  Description: 
  This CSS file contains the styling for the website's layout and UI components.
  - Defines global typography, colors, and spacing.
  - Includes styles for navigation, buttons, and form elements.
  - Ensures responsive design for mobile and tablet devices.

  Sections:
  1. General Styles: Global resets, fonts, and color scheme.
  2. Layout: Styles for the header, footer, and grid-based layout structure.
  3. UI Components: Styling for buttons, forms, modals, and other interactive elements.
  4. Media Queries: Optimizes layout for mobile and tablet responsiveness.
*/

/* 1. General Styles */

/* Global Reset */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */
.spacing-12 {
    gap: 12px
}

.spacing-16 {
    gap: 16px
}

.spacing-20 {
    gap: 20px
}

.spacing-24 {
    gap: 24px
}

.spacing-36 {
    gap: 36px
}

.spacing-40 {
    gap: 40px
}

.spacing-48 {
    gap: 48px
}

.spacing-76 {
    gap: 76px
}

/* Typography Colors */
.geo-text-primary {
    color: rgba(0, 0, 0, 1);
}

.geo-text-secondary {
    color: rgba(114, 114, 114, 1);
}

/* 2. Layout */

/* Navbar */
.geo-navbar {
    height: 85px;
}

.navbar-brand {
    width: 115px;
    height: 28px;
}

.geo-navbar-menu li a {
    font-weight: 400;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
}

/* 3. UI Components */

/* Buttons */
.geo-btn {
    height: 37px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

/* Button Types */
.geo-btn-light {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.geo-btn-primary {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.04);
}

.geo-btn-outline {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
}

/* Headings */
.heading-lg {
    font-size: 84px;
    font-weight: 500;
}

.geo-h2 {
    font-size: 48px;
    font-weight: 500;
}

.geo-h3 {
    font-size: 32px !important;
    font-weight: 500 !important;
}

.geo-h6 {
    font-size: 20px !important;
    font-weight: 500 !important;
}

/* Subtitles */
.medium-subtitle {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.small-bold-subtitle {
    font-size: 14px;
    font-weight: 600;
}

.small-subtitle {
    font-size: 14px;
    font-weight: 400;
}

/* 4. Media Queries */

/* Mobile/Tablet Responsiveness */
@media (max-width: 991px) {
    .heading-lg {
        font-size: 48px !important;
    }

    .geo-h2 {
        font-size: 36px !important;
    }

    .description-content {
        display: none;
    }

    .trusted-img {
        width: 100px;
        height: 40px;
    }

    .spacing-md-24 {
        gap: 24px;
    }

    .testimonal-content-single {
        justify-content: left !important;
    }

    .testimonal-content-card {
        width: 405px !important;
    }

    .testimonal-content-single::before,
    .testimonal-content-single::after {
        display: none;
    }
}

/* 5. Specific Sections */

/* Description Section */
.description-content {
    width: 100%;
    height: 680px;
    border-radius: 6px;
    background-image: url("./icons/banner-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Features */
.features-content {
    height: 406px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Background Images for Features */
.effortless-customer {
    background-image: url("./icons/banner-2.png");
}

.dynamic-email {
    background-image: url("./icons/banner-3.png");
}

.enhanced-team {
    background-image: url("./icons/banner-4.png");
}

.data-driven {
    background-image: url("./icons/banner-5.png");
}

/* Advantage Section */
.advantage {
    padding: 148px 0;
}

.geo-carousel {
    overflow-x: scroll;
    padding: 10px;
    width: 100%;
    scroll-behavior: smooth;
}

.geo-carousel::-webkit-scrollbar {
    display: none;
}

.geo-carousel-content {
    display: inline-flex;
    gap: 20px;
}

.geo-carousel-content-item {
    width: 515px;
    background-color: rgba(249, 249, 249, 1);
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 8px;
    padding: 24px;
}

.geo-carousel-content-item-content {
    width: 467px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Integration Section */
.integration {
    padding: 48px 0;
}

.integration-card {
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 8px;
}

.integration-card-headline {
    padding: 36px 36px 0 36px;
}

.integration-card-content {
    height: 293px;
    background-size: contain;
    background-position: center;
}

.integrated-apps {
    background-image: url("./icons/banner-9.png");
}

.security {
    background-image: url("./icons/banner-10.png");
}

/* Testimonials Section */
.testimonal {
    padding: 96px 0;
}

.testimonal-headline p {
    font-size: 18px;
    font-weight: 400;
}

.testimonal-content-single {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    gap: 24px;
    overflow-x: hidden;
}

.testimonal-content-single::before {
    content: "";
    height: 100%;
    background-color: aqua;
    width: 200px;
    position: absolute;
    left: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
}

.testimonal-content-single::after {
    content: "";
    height: 100%;
    background-color: aqua;
    width: 200px;
    position: absolute;
    right: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%);
}

.testimonal-content-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: 40px;
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 8px;
    width: 410px;
}

.testimonal-content-card p {
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.card-user-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-user {
    display: flex;
    gap: 12px;
}

.card-user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.card-user-name h4 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

.card-user-name small {
    font-size: 14px;
    font-weight: 400;
    color: rgba(175, 175, 175, 1);
}

/* Call-to-Action Section */
.cta {
    padding: 80px;
}

.geo-bg-primary {
    background-color: rgba(0, 0, 0, 1);
}

/* Footer */
.footer {
    padding: 64px 0;
}

.social-proof {
    margin: 76px 0;
}

.social-icon-single {
    height: 40px;
    width: 40px;
    background-color: rgba(228, 228, 228, 1);
    border-radius: 50%;
    color: rgba(249, 249, 249, 1)
}