.navbar {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  position: absolute;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-right: 20px;
}