.w-100 {
  width: 100% !important;
}

.border {
  border: 1px solid $border-color !important;
}

.border-top {
  border-top: 1px solid $border-color !important;
}

.border-bottom {
  border-bottom: 1px solid $border-color !important;
}

.border-left {
  border-left: 1px solid $border-color !important;
}

.border-right {
  border-right: 1px solid $border-color !important;
}

.list-unstyled {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;

  li {
    width: 100% !important;
  }
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.d-flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.justify-space-around {
  justify-content: space-around !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}

$i: 0;

@while $i < 10 {
  .gap-#{$i} {
    gap: $i * 0.25rem !important;
  }

  .m-#{$i} {
    margin: $i * 0.25rem !important;
  }

  .mt-#{$i} {
    margin-top: $i * 0.25rem !important;
  }

  .mb-#{$i} {
    margin-bottom: $i * 0.25rem !important;
  }

  .ml-#{$i} {
    margin-left: $i * 0.25rem !important;
  }

  .mr-#{$i} {
    margin-right: $i * 0.25rem !important;
  }

  .my-#{$i} {
    margin-top: $i * 0.25rem !important;
    margin-bottom: $i * 0.25rem !important;
  }

  .mx-#{$i} {
    margin-left: $i * 0.25rem !important;
    margin-right: $i * 0.25rem !important;
  }

  .p-#{$i} {
    padding: $i * 0.25rem !important;
  }

  .pt-#{$i} {
    padding-top: $i * 0.25rem !important;
  }

  .pb-#{$i} {
    padding-bottom: $i * 0.25rem !important;
  }

  .pl-#{$i} {
    padding-left: $i * 0.25rem !important;
  }

  .pr-#{$i} {
    padding-right: $i * 0.25rem !important;
  }

  .py-#{$i} {
    padding-top: $i * 0.25rem !important;
    padding-bottom: $i * 0.25rem !important;
  }

  .px-#{$i} {
    padding-left: $i * 0.25rem !important;
    padding-right: $i * 0.25rem !important;
  }

  $i: $i + 1;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}
