.ratings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;

  &-stars {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &-star {
    color: $warning;
  }
}
