<div class="directions">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Starting point" />
  </div>
  <div class="directions-via">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Through" disabled />
      <button class="btn btn-outline-secondary">Add</button>
    </div>
    <div class="input-group">
      <button class="btn btn-outline-secondary">Arrow up</button>
      <button class="btn btn-outline-secondary">Arrow down</button>
      <input type="text" class="form-control" placeholder="Through" disabled />
      <button class="btn btn-outline-danger">Remove</button>
    </div>
    <p class="text-muted m-0">
      Maximum 2 points. For more points, please upgrade to <a href="">Premium</a>
    </p>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Ending point" />
  </div>
</div>