@use "./styles/main.scss" as *;

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
  font-family: "Inter";
  font-display: swap;
}

* {
  font-family: "Inter", sans-serif;
}

.firebase-emulator-warning {
  display: none;
}

.video-wrapper,
.img-wrapper {
  display: flex;
  position: relative;
  border-radius: 10px;
  background: #000;
  width: 100%;
  height: 160px;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }
}
