$enable-negative-margins: true;
@import "bootstrap/scss/bootstrap";
@import "photoswipe/dist/photoswipe.css";

.pswp img {
  right: auto;
  left: auto;
  margin: 0 auto;
  width: auto !important;
  height: 100vh !important;
}

.pswp__zoom-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@import "./styles/index";

html,
body {
  margin: 0;
  background-color: #f5f5f5;
  padding: 0;
}

.firebase-emulator-warning {
  display: none;
}
