$enable-shadows: true;
$enable-negative-margins: true;
// $primary: #007bff;
// $secondary: #6c757d;
// $success: #28a745;
// $info: #17a2b8;
// $warning: #ffc107;
// $danger: #dc3545;
// $light: #f8f9fa;
// $dark: #343a40;

$primary: #305ef6;
$secondary: #6c757d; /* Neutral gray */
$success: #28a745; /* Green */
$info: #17a2b8; /* Info blue */
$warning: #ffc107; /* Yellow */
$danger: #dc3545; /* Red */
$light: #f8f9fa; /* Light gray */
$dark: #343a40; /* Dark gray */

// $grid-columns:                12 !default;
$grid-gutter-width: 1.5rem !default;
// $grid-row-columns:            6 !default;

@import "bootstrap/scss/bootstrap";
@import "photoswipe/dist/photoswipe.css";

body {
  background-color: $light;
}

.dashboard-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  gap: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.dashboard-navbar {
  // align-items: center;
  // background-color: $primary;
  // min-height: 60px;

  // nav {
  //   padding: 0;
  //   width: 100%;

  //   .nav-link {
  //     display: flex;
  //     align-items: center;
  //     padding-top: 0;
  //     padding-bottom: 0;
  //   }
  // }
}

.dashboard-navbar,
.dashboard-content {
  // padding: 0 1.5rem;
}

// Sidebar
.sidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 1000;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  width: 260px;
  min-width: 260px;
  height: 100%;
  font-size: 16px;

  .sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
    padding: 0.5rem 1rem;
    color: var(--bs-primary);
  }

  .sidebar-logo {
    margin: 0;
    height: 40px;
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
  }

  .sidebar-item {
    display: flex;
    position: relative;
    align-items: center;
    transition: background-color 0.2s;
    // border: 1px solid;
    padding: 0.5rem 0;
    width: 100%;
    color: var(--bs-body-color);
    font-size: 16px;
    text-decoration: none;

    svg {
      margin-right: 1rem;
      width: 24px;
      height: 24px;
    }

    &.active {
      color: var(--bs-primary);
    }
  }

  .sidebar-group {
    // border: 1px solid #ccc;
    padding: 0rem 1rem;
  }

  .sidebar-group-title {
    font-weight: 600;
    font-size: 12px;
  }

  &.sidebar-collapsed {
    width: 60px;
    min-width: 60px;
    max-width: 60px;

    .sidebar-group-title,
    .sidebar-logo {
      display: none;
    }

    .sidebar-item {
      justify-content: center;
      margin: 0;
      padding: 0.5rem 0;

      svg {
        margin: 0;
        width: 24px;
        height: 24px;
      }

      span,
      .badge {
        display: none;
      }
    }
  }
}

// Add media query for sidebar collapse
@media (max-width: 1200px) {
  .sidebar {
    width: 60px;

    .sidebar-group-title,
    .sidebar-logo {
      display: none;
    }

    .sidebar-item {
      justify-content: center;
      margin: 0;
      padding: 0.5rem 0;

      svg {
        margin: 0;
        width: 24px;
        height: 24px;
      }

      span,
      .badge {
        display: none;
      }
    }
  }
}

// Button outline

// .button-outline {
//   border-color: #dee2e6;
//   background-color: #fff;
//   color: #3c486b;
// }

// .input {
//   border: 1px solid #dee2e6;
//   height: 38px;
//   font-weight: 500;
//   font-size: 14px;
// }
// .input-label {
//   margin-bottom: 4px;
//   font-weight: 600;
//   font-size: 12px;
// }

// Auth
.auth {
  position: relative;
  &-logo {
    position: absolute;
    top: 24px;
    left: 24px;
  }
  &-footer {
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    color: #6c757d;
    font-size: 12px;
  }
  &-devider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #f8f9fa;
    width: 44px;
    font-weight: 500;
    font-size: 16px;
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &-header {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  &-title {
    font-weight: 600;
    font-size: 36px;
  }
  &-subtitle {
    font-weight: 400;
    font-size: 16px;
  }
  &-link {
    margin-top: 4px;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
  }
}

.auth-content {
  display: flex;
  position: relative;
  top: 50%;
  flex-direction: column;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}
.auth-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/auth_bg.jpeg");
  background-position: center;
  background-size: cover;
  background-color: #f5f5f5;
  height: 100vh;
}

.firebase-emulator-warning {
  display: none;
}
