/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Bootstrap Icons */
// @import url("bootstrap-icons/font/bootstrap-icons.min.css");

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background: #eef1f9;
  color: #475569;
}

@import "./styles/reset";
@import "./styles/main";