/* Bootstrap Icons */
// @import url("bootstrap-icons/font/bootstrap-icons.min.css");
@font-face {
  font-family: inter;
  src: url("./assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background: #eef1f9;
  color: #475569;
}

@import "./styles/reset";
@import "./styles/main";
@import "./styles/sidebar";
@import "./styles/steps";
@import "./styles/grid";
@import "./styles/reviews";
@import "./styles/user";
@import "./styles/auth";
@import "./styles/table";
