/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Bootstrap Icons */
@import url("bootstrap-icons/font/bootstrap-icons.min.css");

:root {
  --primary: rgba(60, 72, 107, 1);
  --primary-90: rgba(60, 72, 107, 0.9);
  --primary-80: rgba(60, 72, 107, 0.8);
  --primary-70: rgba(60, 72, 107, 0.7);
  --primary-60: rgba(60, 72, 107, 0.6);
  --primary-50: rgba(60, 72, 107, 0.5);
  --primary-40: rgba(60, 72, 107, 0.4);
  --primary-30: rgba(60, 72, 107, 0.3);
  --primary-20: rgba(60, 72, 107, 0.2);
  --primary-10: rgba(60, 72, 107, 0.1);
  --indigo: rgba(88, 66, 214, 1);
  --indigo-10: rgba(88, 66, 214, 0.1);
  --danger: rgba(179, 38, 30, 1);
  --danger-20: rgba(179, 38, 30, 0.2);
  --danger-10: rgba(179, 38, 30, 0.1);
  --success: rgba(52, 199, 89, 1);
  --success-10: rgba(52, 199, 89, 0.1);
}

.login {
  height: 100vh;
  width: 100vw;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 24px;
    width: 100%;

    &-logo {
      width: 170px;
    }
  }

  &__card {
    max-width: 370px;
    width: 100%;
    border-radius: 24px;
    background-color: #fff;
    padding: 48px;

    &__header {
      margin-bottom: 24px;

      &-title {
        text-align: center;
        color: var(--primary);
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &-submit {
        display: grid;
        margin-top: 1rem;
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem 0;
      text-align: center;
    }

    &__link {
      color: var(--primary);
    }
  }

  &__text {
    color: var(--primary-70);
    font-size: 12px;
    text-align: center;
  }
}
.registration {
  height: 100vh;
  width: 100vw;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 24px;
    width: 100%;

    &-logo {
      width: 170px;
    }
  }

  &__card {
    max-width: 370px;
    width: 100%;
    border-radius: 24px;
    background-color: #fff;
    padding: 48px;

    &__header {
      margin-bottom: 24px;

      &-title {
        text-align: center;
        color: var(--primary);
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &-submit {
        display: grid;
        margin-top: 1rem;
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem 0;
      text-align: center;
    }

    &__link {
      color: var(--primary);
    }
  }

  &__text {
    color: var(--primary-70);
    font-size: 12px;
    text-align: center;
  }
}

.reviews {
  background-color: #f6f6f6;
  height: 100%;

  &__scrap {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;

    &__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &__group {
        &__label {
          color: var(--primary);
          font-weight: 600;
          font-size: 14px;
        }

        &__text {
          font-size: 12px;
          color: var(--primary-70);
        }
      }
    }
  }

  &__scrap-list {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__table {
      flex: 1;

      &__header {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--primary);
      }

      &__status {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        font-size: 18px;

        &--completed {
          background-color: var(--success-10);
          color: var(--success);
        }

        &--in-progress {
          background-color: var(--primary-20);
          color: var(--primary);
        }

        &--failed {
          background-color: var(--danger-20);
          color: var(--danger);
        }

        &--text {
          padding: 2px 6px;
          font-size: 12px;
          border-radius: 6px;
          font-weight: 300;
        }
      }

      &__text {
        display: flex;
        align-items: center;
        color: var(--primary);
        font-size: 14px;
        font-weight: 500;

        a {
          color: var(--primary);
        }
      }

      &__download {
        display: flex;
        gap: 1rem;
      }
    }
  }
}

.single-reviews {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__item {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__user {
        display: flex;
        gap: 1rem;
        align-items: center;

        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          height: 2rem;
          border-radius: 6px;
          background-color: var(--primary-10);
          color: var(--primary);
          font-size: 18px;
        }

        &__info {
          display: flex;
          flex-direction: column;
          color: var(--primary-70);
          font-size: 12px;
          font-weight: 500;

          &__name {
            font-size: 16px;
            color: var(--primary);
            font-weight: 500;
          }
        }
      }
      &__info {
        color: var(--primary-90);
        font-size: 14px;
        font-weight: 500;
      }
    }

    &__status {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--primary-90);
      font-size: 14px;
    }

    &__review {
      color: var(--primary);
    }
    &__qa {
      padding: 1.5rem;
      border-radius: 0.5rem;
      color: var(--primary);
      background-color: var(--indigo-10);
      list-style: none;
    }
    &__photos {
      display: flex;
      gap: 0.5rem;
      &__item {
        width: 50px;
        height: 50px;
        border-radius: 6px;
      }
    }
  }
}

.review-info {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      color: var(--primary);
      display: flex;
      align-items: center;
      gap: 1rem;

      &__status {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        font-size: 18px;

        &--completed {
          background-color: var(--success-10);
          color: var(--success);
        }

        &--in-progress {
          background-color: var(--primary-20);
          color: var(--primary);
        }

        &--failed {
          background-color: var(--danger-20);
          color: var(--danger);
        }
      }
    }
  }
  &__details {
    display: flex;
    justify-content: space-between;
    &__info {
      color: var(--primary);
      font-weight: 600;
      font-size: 14px;

      &__value {
        border: 1px solid var(--primary-70);
        padding: 2px 6px;
        border-radius: 6px;
      }
    }
  }
}
