.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  border-right: $border-width solid $border-color;
  background-color: #fff;
  z-index: 9999;
}

.list-group {
  border-radius: 0;
  height: calc(100vh - 60px);
  padding: 10px 0;
}

.list-group-item {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  gap: 16px;
}

.list-group-item-action {
  border-radius: 0;
  border: 0;
  background-color: transparent;
  color: $body-color;
}

.list-group-item.list-group-item-action.active {
  background-color: #f6f6f6;
}

.list-group.list-group-nested {
  background-color: $light;
  border-top: $border-width solid $border-color;
  border-bottom: $border-width solid $border-color;
}

.list-group-item-action.active {
  background-color: transparent;
  font-weight: 600;
  color: $primary;
}