.content {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 24px;
}

.dashboard {
    width: 100%;
    display: flex;
}

.sidebar .navbar-brand {
    padding: 10px 20px;
}

.sidebar {
    background-color: #f6f6f6;
}

.sidebar .list-group-item:first-child {
    margin-bottom: .5rem;
}

.sidebar .list-group-item.active {
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.sidebar .list-group-item {
    display: flex;
    height: 40px;
    align-items: center;
    font-size: 16px;
    border-radius: 6px;
    color: #3c486b;
}