.content {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 24px;
    background-color: var(--bg-color);
}

.dashboard {
    width: 100%;
    display: flex;
}

.sidebar .navbar-brand {
    padding: 10px 20px;
}

.sidebar {
    background-color: #f6f6f6;
}

.sidebar .list-group-item.active {
    background-color: white;
    border: 1px solid #dee2e6;
}

.sidebar .list-group-item {
    font-weight: 600;
    display: flex;
    height: 40px;
    align-items: center;
    font-size: 16px;
    border-radius: 6px;
    color: var(--primary);
}

.reviews input {
    color: var(--primary);
    font-size: 16px;
}

.reviews input::placeholder {
    color: var(--primary-60);
    font-size: 16px;
}

.reviews button:hover {
    background-color: var(--indigo);
    color: var(--white);
    opacity: .9;
}

.reviews button {
    background-color: var(--indigo);
    color: var(--white);
    font-weight: 300;
}

.reviews .badge.completed {
    color: var(--success);
    background-color: var(--success-10);
    border: 1px solid var(--success);
}

.reviews .badge.canceled {
    color: var(--danger);
    background-color: var(--danger-10);
    border: 1px solid var(--danger);
}

.reviews .badge.on-progress {
    color: var(--indigo);
    background-color: var(--indigo-10);
    border: 1px solid var(--indigo);
}

.reviews .badge {
    height: 38px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
}

.reviews .btn-danger:hover {
    background-color: var(--danger);
    opacity: .9;
}

.reviews .btn-danger {
    background-color: var(--danger);
}

.reviews .filter input+.btn:first-child,
.reviews .filter input:checked+.btn:first-child {
    border-radius: 6px 0 0 6px;
}

.reviews .filter input+.btn {
    border: none;
    background-color: var(--bg-color);
    color: var(--primary);
    border-radius: 0;
    font-size: 12px;
    box-shadow: none;
}

.reviews .filter input:checked+.btn {
    border: 1px solid var(--primary-30);
    background-color: var(--white);
    color: var(--primary);
    border-radius: 6px;
    font-size: 12px;
    box-shadow: none;
}

.reviews .filter {
    background-color: var(--bg-color);
    align-items: center;
    padding: 4px 8px;
    border-radius: 6px;
}