.view {
    /* background-color: #f6f6f6; */
    /* height: calc(100vh - 64px); */
}

.view__all-images__carousel-title {
    font-family: var(--font-family);
    color: var(--color-primary);
}

.view__all-images__carousel-item {
    height: 400px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.view__all-images__carousel-item img {
    height: 100%;
}

.view__table {
    width: 100%;
}

.view__table thead tr th {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--color-primary);
    opacity: 0.8;
}

.view__table thead tr th i {
    margin-right: 8px;
}

.view__table thead tr th:first-child,
.view__table tbody tr th {
    width: 40px;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 300;
    vertical-align: middle;
}

.view__table-images {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
}

.view__table-images img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid #fff;
}

.view__table-images img:nth-child(n+2) {
    margin-left: -12px;
}

.view__table-images--extra {
    margin-left: -12px;
    background-color: #686868;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
}

.view__table tbody tr td:nth-child(8),
.view__table tbody tr td:nth-child(7) {
    vertical-align: top;
}

.view__table tbody tr td {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    color: var(--color-primary);
    vertical-align: middle;
}

.place-info {
    display: flex;
}

.place-info__subtitle,
.place-info__created-at,
.place-info__title,
.view__rating {
    font-family: var(--font-family);
    color: var(--color-primary);
}

.place-info__subtitle {
    white-space: nowrap;
    /* Prevent the text from wrapping to a new line */
    overflow: hidden;
    /* Hide the overflow text */
    text-overflow: ellipsis;
    /* Show ellipsis (...) for overflowing text */
}

.place__status {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    height: 38px;
}

.view__table thead tr th:nth-child(2) {
    width: 180px;
}

.view__table thead tr th:nth-child(4) {
    width: 110px;
}

.view__table thead tr th:nth-child(5) {
    width: 120px;
}

.view__table thead tr th:nth-child(7) {
    width: 350px;
}

.view__table thead tr th:nth-child(8) {
    width: 310px;
}


.view__table-content__review b,
.view__table-content__overview b {
    color: var(--color-primary);
    opacity: .8;
    font-weight: 600;
}

.view__table-content__review span,
.view__table-content__overview span {
    opacity: .9;
    color: var(--color-primary);
    font-weight: 700;
}

.view__table-content__overview {
    /* border-top: 1px solid var(--color-primary); */
}

.view__table-content__show-overview,
.show-more-btn {
    /* border: 1px solid #3c486b50; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-radius: 6px;
    font-weight: 800;
    /* width: 140px; */
    padding: 2px;
    font-size: 12px;
    gap: 4px;
    margin: 8px 0;
}

.view__table-content__rating-overview {
    background-color: #f6f6f6;
    border: none;
}

.view__table-content__rating-overview {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
    overflow: hidden;
}

.view__table-content__rating-overview.visible {
    max-height: 500px;
    opacity: 1;
}

.show-more-btn i {
    display: flex;
    align-items: center;
}

.show-more-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    opacity: .7;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 2px;
}


.bi-chevron-down {
    transition: transform 0.3s ease;
    /* Smooth transition for rotation */
}

.rotate {
    transform: rotate(180deg);
    /* Rotate icon when the state is active */
}