.geo-help {
    color: var(--primary);
}

.geo-help h5 {
    font-weight: 600;
}

.geo-help p {
    font-size: 14px;
    opacity: .7;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}

/* .accordion-button:not(.collapsed)  */
.accordion-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid #dee2e6;
    color: var(--primary);
    font-size: 18px;
}

.accordion-header {
    display: flex;
    align-items: center;
}

.accordion-header button {
    font-weight: 600;
    font-size: 14px;
    color: var(--primary);
}

.accordion-body {
    font-size: 12px;
    color: var(--primary);
    font-weight: 300;
}

.accordion-button {
    padding-left: 12px;
}