.geo-back-button {
    background-color: transparent !important;
    color: var(--primary) !important;

}

.geo-location {
    color: var(--primary);
    font-size: 18px;
}

.scraped-item-status .geo-badge {
    border-color: var(--primary);
    color: var(--primary);
}

.geo-table thead tr th:last-child {
    border-radius: 0 6px 6px 0;
}

.geo-table thead tr th:first-child {
    border-radius: 6px 0 0 6px;
}

.geo-table thead tr th {
    border: none;
    background-color: #f6f6f6;
}

.geo-content-images {
    height: 38px;
    position: relative;
}

.geo-content-image {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 6px;
    border: 1px solid var(--white);
}

.geo-content-image:nth-child(n+2) {
    left: 15px;
}

.geo-content span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.geo-content {
    display: flex;
    align-items: center;
    max-width: 200px;
    border-radius: 6px;
    border: 1px solid #dee2e6;
    padding: 4px 8px;
}