/* 
  styles.css
  Author: [Tukhsanov]
  Date: [25.10.2024]
  Description: 
  This CSS file contains the styling for the website's layout and UI components.
  - Defines global typography, colors, and spacing.
  - Includes styles for navigation, buttons, and form elements.
  - Ensures responsive design for mobile and tablet devices.

  Sections:
  1. General Styles: Global resets, fonts, and color scheme.
  2. Layout: Styles for the header, footer, and grid-based layout structure.
  3. UI Components: Styling for buttons, forms, modals, and other interactive elements.
  4. Media Queries: Optimizes layout for mobile and tablet responsiveness.
*/

/* 1. General Styles */

/* Global Reset */
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Classes */
.btn {
  font-size: 16px !important;
  font-weight: 600 !important;
  letter-spacing: 0.5px;
  padding: 8px 20px !important;
  transition: all 0.3s;
}
.btn-primary {
  background-color: #2f55d4 !important;
  border-color: #2f55d4 !important;
}
.btn-outline-primary:hover {
  background-color: #2f55d4;
  border-color: #2f55d4;
  color: #fff;
}

.text-primary {
  color: #2f55d4 !important;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
}
p {
  line-height: 1.6;
}

.bi::before {
  font-weight: 500 !important;
}

.text-muted {
  color: #8492a6 !important;
}

/* Navabr */
.navbar {
  transition: box-shadow 0.3s ease-in-out;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.sub-menu {
  padding: 1rem;
  min-width: 300px;
}
.menu-title {
  font-weight: 700;
  color: #3c4858;
  font-size: 16px;
}
.menu-subtitle {
  margin-top: 0.3rem;
  font-size: 14px;
}
.navbar.scrolled {
  box-shadow: 0 0 3px #3c485826;
}
.nav-link.active {
  color: #2f55d4 !important;
}
.navbar-nav > li {
  margin: 0 10px;
}
.navbar-nav > li > a {
  background-color: initial;
  color: #3c4858;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
}

.dropdown-toggle::after {
  display: none !important;
}

.avatar.avatar-ex-sm {
  max-height: 25px;
}

.bg-half-170 {
  padding: 170px 0;
  align-self: center;
  background-position: 50%;
  background-size: cover;
}

.title-heading {
  line-height: 26px;
}

.heading {
  font-size: 45px !important;
  letter-spacing: 1px;
}

.section {
  padding: 100px 0;
  position: relative;
}
.section-title .title {
  font-size: 30px !important;
  letter-spacing: 0.5px;
}

.bg-light {
  background-color: #f8f9fa !important;
}
.pricing {
  border-bottom: 3px solid #e9ecef !important;
  transition: all 0.5s ease;
  z-index: 1;
}
.pricing.pricing-primary.starter-plan {
  border-color: #2f55d4 !important;
  z-index: 2;
}
.pricing.starter-plan {
  transform: scale(1.05);
}
.rounded {
  border-radius: 6px !important;
}

.card .card-body {
  padding: 1.5rem;
}

.shadow {
  box-shadow: 0 0 3px #3c485826 !important;
}

.shape {
  bottom: -2px;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.shape > svg {
  height: auto;
  transform: scale(2);
  transform-origin: top center;
  width: 100%;
}

.para-desc {
  max-width: 600px;
}

.text-footer {
  color: #202942;
}

.footer {
  background: #202942;
  color: #adb5bd;
}

.footer-py-60 {
  padding: 60px 0;
}

.logo-footer {
  font-size: 22px;
}

.foot-social-icon li a {
  border-color: #283453;
  color: #adb5bd;
  align-items: center;
  border: 1px solid #3c4858;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  transition: all 0.4s ease;
  width: 32px;
}

@media (min-width: 992px) {
  .navbar-nav > li > a {
    min-height: 62px;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .ms-lg-5 {
    margin-left: 3rem !important;
  }
  .sub-menu {
    min-width: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 991px) {
  .navbar {
    min-height: 74px;
  }
}

/* products */
.linear {
  background: linear-gradient(185deg, #f8f9fa 67.85%, #fff 68%);
}
