header {
    border: 1px solid #ccc;
    padding: 10px;
    height: 56px;
}

aside {
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 100%;
    position: fixed;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.details {
    list-style: none;
    padding: 0;
    margin-top: 10px;

    li {
        margin-bottom: 10px;
        font-size: 14px;
    }
}