.custom-table thead tr th {
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  color: $body-color;
}

.custom-table thead tr th i {
  margin-right: 8px;
}

.custom-table thead tr th:first-child,
.custom-table tbody tr th {
  width: 40px;
  text-align: center;
  font-size: $font-size-base;
  vertical-align: middle;
}

.custom-table tbody tr th,
.custom-table tbody tr td {
  border-right: $border-width solid $border-color;
}

.custom-table tbody tr td {
  font-size: $font-size-base;
  color: $body-color;
  vertical-align: middle;
}

.custom-table tbody tr td:last-child {
  border-right: none;
}