.sidebar {
    height: calc(100vh - 60px);
    width: 250px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #fafafa;
    padding-top: 20px;
}

.list-group {
    border-radius: 0;
}

.list-group-item-action {
    border-radius: 0;
    border: 0;
    background-color: transparent;
    color: #3c486b;
}

.list-group.list-group-nested {
    background-color: #f6f6f6;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.list-group-item-action.active {
    background-color: transparent;
    font-weight: 600;
    color: #000;
}

.content {
    width: 100%;
    padding: 24px;
}

.dashboard {
    width: 100%;
    display: flex;
}

.dashboard__scrapper input:focus {
    outline: none;
}

.dashboard__scrapper input {
    flex: 1;
    border: none;
    background-color: #f6f6f6;
    font-family: var(--font-family);
    color: var(--color-primary);
    font-size: 14px;
}

.dashboard__scrapper button:hover {
    border-color: var(--color-primary);
    background-color: #fff;
}

.dashboard__scrapper button {
    border: 1px solid #dee2e6;
    background-color: #fff;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--color-primary);
    font-size: 14px;
    height: 32px;
}

.dashboard__scrapper {
    padding: 3px 12px;
    width: 100%;
    display: flex;
    border: 1px solid #dee2e6;
    background-color: #f6f6f6;
    border-radius: 6px;
}

.dashboard__table thead tr th {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--color-primary);
    opacity: 0.8;
}

.dashboard__table thead tr th i {
    margin-right: 8px;
}

.dashboard__table thead tr th:first-child,
.dashboard__table tbody tr th {
    width: 40px;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 300;
    vertical-align: middle;
}

.dashboard__table-item span:last-child {
    display: flex;
    text-decoration: underline;
    color: var(--color-primary);
    opacity: .8;
    margin-left: 20px;
    position: relative;
}

.dashboard__table-item span:last-child::before {
    content: " ";
    position: absolute;
    border-radius: 2px;
    top: 8px;
    left: -16px;
    width: 8px;
    height: 2px;
    background-color: var(--color-primary);
    opacity: 0.8;
}

.dashboard__table tbody tr th,
.dashboard__table tbody tr td {
    border-right: 1px solid #3c486b40;
}

.dashboard__table tbody tr td {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    color: var(--color-primary);
    vertical-align: middle;
}

.dashboard__table tbody tr td:last-child {
    border-right: none;
}