.enterprise {
    color: #fff !important;
}

.pricing__header {
    text-align: center;
}

.pricing__title {
    color: var(--color-primary);
    font-family: var(--font-family);
    font-size: 2.875rem;
    /* 46px */
}

.pricing__subtitle {
    color: var(--color-primary);
    font-family: var(--font-family);
    font-size: 0.8125rem;
    /* 13px */
}

.pricing__plans {
    display: flex;
    gap: 1.25rem;
    /* 20px */
    padding: 0 20%;
}

.pricing__card {
    padding: 1.5rem;
    /* 24px */
    background-color: #fff;
    border-radius: 0.5rem;
    /* 8px */
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    /* 0 2px 10px */
}

.pricing__card--enterprise {
    background-color: var(--color-secondary);
    color: #ffffff;
}

.pricing__card-title,
.pricing__card-price,
.pricing__card-description {
    font-family: var(--font-family);
    color: var(--color-primary);
}

.pricing__card-price span {
    font-size: 0.875rem;
    /* 14px */
    opacity: 0.5;
}

.pricing__button {
    width: 100%;
    margin: 1rem 0;
    /* 16px */
    background-color: var(--color-secondary);
    color: #fff;
    font-family: var(--font-family);
    border: none;
    padding: 0.5rem 1rem;
    /* 8px 16px */
    border-radius: 0.25rem;
    /* 4px */
    cursor: pointer;
}

.pricing__button-secondary {
    background-color: #fff;
    color: #7564ee;
}

.pricing__trusted-us {
    font-size: 1rem;
    margin-top: 1.875rem;
    /* 30px */
    text-align: center;
    font-family: var(--font-family);
    color: var(--color-primary);
}

.pricing__trusted-us__items {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3rem;
    /* 32px */
}

.pricing__trusted-us__item {
    height: 2rem;
    /* 32px */
}

.pricing__list {
    list-style: none;
    padding: 0;
}

.pricing__list-item {
    display: flex;
    gap: 0.625rem;
    /* 10px */
    margin: 0.625rem 0;
    /* 10px */
    font-size: 0.875rem;
    /* 14px */
    color: var(--color-primary);
}

.pricing__list-item-icon {
    width: 0.625rem;
    /* 10px */
    height: 0.625rem;
    /* 10px */
    border-radius: 50%;
    background-color: var(--color-secondary);
    box-shadow: 0 0 0 0.0625rem rgba(117, 100, 238, 0.2);
    /* 0 0 0 0.25rem */
}

.pricing__faq .card {
    box-shadow: 0 0 0 0.0625rem rgba(117, 100, 238, 0.2);
    /* 0 0 0px */
}

.pricing__faq-header h3 {
    font-family: var(--font-family);
    font-size: 1.375rem;
    /* 22px */
    color: var(--color-primary);
    margin: 0;
}

.pricing__faq-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.pricing__faq-body span {
    text-align: start;
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--color-primary);
}

.pricing__faq-body.open {
    max-height: 6.25rem;
    /* 100px */
    opacity: 1;
    text-align: start;
}

.icon {
    cursor: pointer;
    font-size: 1.625rem;
    /* 26px */
    color: var(--color-secondary);
    transition: transform 0.5s ease;
}

.icon.plus {
    transform: rotate(0deg);
}

.icon.minus {
    transform: rotate(180deg);
}