.subscription {
    display: flex;
    justify-content: center;
}

.subscription__active>.card-body {
    font-family: var(--font-family);
    color: var(--color-primary);
}

.subscription__title {
    color: var(--color-primary);
    font-family: var(--font-family);
    font-size: 2.875rem;
    /* 46px */
}

.subscription__price-title h1 {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
}

.subscription__price-title {
    display: flex;
    justify-content: space-between;
}

.subscription__price-title span {
    font-size: 0.875rem;
    /* 14px */
    opacity: 0.5;
}

.subscription__payment-options {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.subscription__term {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscription__term h4 {
    font-size: 18px;
    color: #3c486b99;
}

.subscription__term h4 span {
    color: #3c486b;
}

.subscription__card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription__card-info img {
    width: 50px;
    height: 31px;
}

.subscription__card-info-edit {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.subscription__card-actions {
    display: flex;
    gap: 16px;
}

.subscription__card-actions span {
    display: flex;
    position: relative;
}

.subscription__card-actions span::after {
    content: "";
    height: 100%;
    width: 1px;
    position: absolute;
    background-color: var(--color-primary);
    right: -8px;
}

.subscription__card-actions span,
.subscription__card-actions a {
    font-size: 14px;
    color: var(--color-primary);
    text-decoration: none;
}

.subscription__payment-card h4 {
    margin: 0;
    font-size: 22px;
    font-family: var(--font-family);
    color: var(--color-primary);
}

.subscription__payment-card input {
    accent-color: var(--color-primary);
    width: 24px;
}

.subscription__add-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription__add-card a {
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: none;
}

.subscription__table {
    width: 100%;
}

.subscription__table thead tr th {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--color-primary);
    opacity: 0.8;
}

.subscription__table thead tr th:nth-child(3),
.subscription__table thead tr th:nth-child(4),
.subscription__table thead tr th:nth-child(5) {
    width: 230px;
}

.subscription__table thead tr th i {
    margin-right: 8px;
}

.subscription__table thead tr th:first-child,
.subscription__table tbody tr th {
    width: 40px;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 300;
    vertical-align: middle;
}

.subscription__table tbody tr td {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    color: var(--color-primary);
    vertical-align: middle;
}

.subscription__features {
    list-style: none;
    padding: 0;
}

.subscription__feature-item {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    /* 10px */
    margin: 0.625rem 0;
    /* 10px */
    font-size: 0.875rem;
    /* 14px */
    color: var(--color-primary);
}

.subscription__feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.625rem;
    /* 10px */
    height: 0.625rem;
    /* 10px */
    border-radius: 50%;
    background-color: var(--color-secondary);
    box-shadow: 0 0 0 0.0625rem rgba(117, 100, 238, 0.2);
    /* 0 0 0 0.25rem */
}

.subscription__feature-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
}