.view {
    background-color: #f6f6f6;
    height: calc(100vh - 64px);
}

.view__all-images__carousel-title {
    font-family: var(--font-family);
    color: var(--color-primary);
}

.view__all-images__carousel-item {
    height: 400px;
    background-color: #686868;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.view__table {
    width: 100%;
}

.view__table thead tr th {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--color-primary);
    opacity: 0.8;
}

.view__table thead tr th i {
    margin-right: 8px;
}

.view__table thead tr th:first-child,
.view__table tbody tr th {
    width: 40px;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 300;
    vertical-align: middle;
}

.view__table-images {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
}

.view__table-images img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid #fff;
}

.view__table-images img:nth-child(n+2) {
    margin-left: -12px;
}

.view__table-images--extra {
    margin-left: -12px;
    background-color: #686868;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
}

.view__table tbody tr td {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    color: var(--color-primary);
    vertical-align: middle;
}

.place-info {
    display: flex;
}

.place-info__subtitle,
.place-info__created-at,
.place-info__title,
.view__rating {
    font-family: var(--font-family);
    color: var(--color-primary);
}

.place__status {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    height: 38px;
}