:root {
  --fontSize: 16px;
  --transition: 0.5s;
  --whiteColor: #ffffff;
  --blackColor: #242424;
  --primaryColor: #ed1d78;
  --secondaryColor: #605dff;
  --paragraphColor: #666666;
  --fontFamily: "Jost", sans-serif;
  --primaryGradientColor: linear-gradient(90deg, #ed1d78 0%, #ed1b25 100%);
  --secondaryGradientColor: linear-gradient(90deg, #605dff 0%, #9013fe 100%);
}

* {
  font-family: "Jost", sans-serif;
}

.documentation {
  padding-top: 97px;
}

/* ////////////////////// */

.documentation__sidebar {
  text-decoration: none;
  height: calc(100vh - 97px);
  position: sticky;
  border-right: 1px solid #dee2e6;
}

.documentation__sidebar__link {
  text-decoration: none;
}

.documentation__sidebar__link.documentation__sidebar__link--active {
  color: var(--secondaryColor);
}

/* ////////////////////// */

.documentation__main-content {
  overflow-anchor: none;
}

.documentation__body {
  padding-top: 40px;
}

.documentation__title {
  color: var(--blackColor);
  font-weight: 800;
  font-size: 30px;
  line-height: 2.25rem;
}

.documentation__subtitle {
  color: var(--paragraphColor);
  font-size: 18px;
  opacity: 0.7;
}

.documentation__text {
  color: #3f3f46;
  font-size: 18px;
  line-height: 30px;
}

.documentation__list {
  padding: 0;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
}

.documentation__list li::marker {
  color: #66666650;
}

.documentation__list li {
  list-style: disc;
  display: list-item;
  font-size: 18px;
  letter-spacing: 1px;
  color: #3f3f46;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.documentation__section-title {
  color: var(--blackColor);
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2.25rem;
  scroll-margin: 5rem;
  margin-top: 2em;
  margin-bottom: 1em;
}

.documentation__subsection-title {
  scroll-margin: 5rem;
  color: var(--blackColor);
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.6rem;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
}

/* //////////////////////// */

.documentation__navigation {
  position: sticky;
  top: 97px;
  padding-top: 40px;
  /* border-left: 1px solid #dee2e6; */
  height: calc(100vh - 97px);
}
.documentation__navigation-item {
  align-items: center;
}
.documentation__navigation-item img {
  width: 24px;
}

.documentation__navigation-title {
  font-weight: 500;
  font-size: 1rem;
  color: var(--blackColor);
}

.documentation__sidebar__menu-item {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--blackColor);
  text-decoration: none;
  padding: 4px 0;
}

.documentation__navigation-header {
  font-weight: 400;
  color: var(--blackColor);
  text-decoration: none;
}
