<div id="leaflet-map">
</div>
<div id="map-directions">
  <button class="btn btn-primary">Moscow</button>
  <button class="btn btn-light text-primary" readonly>
    <fa-icon [icon]="faRoute"></fa-icon>
  </button>
  <button class="btn btn-primary">Berlin</button>
</div>
<div id="map-controls">
  <button id="zoom-in" class="btn btn-primary">
    <fa-icon [icon]="faMap"></fa-icon>
  </button>
</div>
<div id="map-dialog">
  <img src="https://arminfo.info/mcgallery/20180110112144%D0%91%D0%B5%D0%B7-%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-1.jpg" alt="">
  <h6>KPP Verkhny Lars</h6>
  <p>Verkhny Lars is a border crossing between Russia and Georgia. It is located in the Kazbegi district of Georgia and the Vladikavkaz district of Russia. The border crossing is located at an altitude of 1,368 meters above sea level and is open 24 hours a day.</p>

</div>