:root {
    --fontSize: 16px;
    --transition: .5s;
    --whiteColor: #ffffff;
    --blackColor: #242424;
    --primaryColor: #ED1D78;
    --secondaryColor: #605DFF;
    --paragraphColor: #666666;
    --fontFamily: "Jost", sans-serif;
    --primaryGradientColor: linear-gradient(90deg, #ED1D78 0%, #ED1B25 100%);
    --secondaryGradientColor: linear-gradient(90deg, #605DFF 0%, #9013FE 100%);
}

* {
    font-family: "Jost", sans-serif;
}

ul,
li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}


.geo-btn {
    border: 0;
    z-index: 1;
    padding: 14px 30px;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    transition: .5s;
    font-size: var(--fontSize);
    font-weight: 500;
}

.geo-btn__style-two {
    color: var(--whiteColor);
    background: var(--primaryGradientColor);
}

.geo-btn__style-two:hover {
    color: var(--whiteColor);
    background: var(--secondaryGradientColor);
}

.geo-btn__default {
    color: var(--whiteColor);
    background: var(--secondaryGradientColor);
}

.geo-btn__default:hover {
    color: var(--whiteColor);
    background: var(--primaryGradientColor);
}

.section-title {
    max-width: 650px;
    margin-top: -5px;
    margin-bottom: 50px;
}

.section__footer {
    margin-bottom: -5px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.bg-indigo {
    background-color: #f0f0ff;
}

/* //-//-//-//-//-//-//-//-//-// */

.geo-navbar {
    transition: .2s;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 100%;
    position: absolute;
}

.geo-navbar__content {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.geo-navbar__content--menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.geo-navbar__content--menu__item {
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
    color: #242424;
    margin: 0px 17px;
}

.geo-navbar__content--menu__item:first-child {
    margin-left: 0;
}

/* //-//-//-//-//-//-//-//-//-// */
/* Home Section */
/* //-//-//-//-//-//-//-//-//-// */

.home-section {
    background-color: #f0f0ff;
}

.section__area {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section__content {
    max-width: 510px;
}

.home-section__content--title {
    line-height: 1.25;
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
    color: var(--blackColor);
}

.home-section__content--subtitle {
    font-size: 17px;
    color: var(--paragraphColor);
}

.home-section__content .geo-btn {
    margin-top: 12px;
}

.banner-image {
    width: 100%;
    border-radius: 16px;
}

.image {
    background-color: #ffffff;
    height: 514px;
    border-radius: 7px 7px 0 0;
}

.banner-image__content {
    display: flex;
    justify-content: space-between;
    background-color: #ffe302;
    border-radius: 0 0 7px 7px;
    padding: 30px 70px;
    align-items: center;
}

.banner-image__content span {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 14px;
    font-weight: 500;
}

/* //-//-//-//-//-//-//-//-//-// */
/* Can Get Section */
/* //-//-//-//-//-//-//-//-//-// */

.can-get-section__box {
    margin-bottom: 25px;
    padding: 40px 20px 40px 90px;
    position: relative;
}

.can-get-section__box::before {
    inset: 0;
    z-index: -1;
    content: "";
    margin-left: 34px;
    border-radius: 7px;
    position: absolute;
    background-color: #f6f9fe;
}

.can-get-section__box__single {
    padding: 1.5rem;
    border-radius: 5px;
    margin-bottom: 25px;
    border: 1px solid #e3e3ff;
    position: relative;
}

.can-get-section__box__single__title {
    font-size: 20px;
    margin-bottom: 12px;
    color: var(--blackColor);
    font-weight: 600;
}

.can-get-section__box__single__subtitle {
    line-height: 1.6;
    color: var(--paragraphColor);
}

.can-get-section__box__single__icon {
    left: 0;
    top: 50%;
    width: 68px;
    height: 68px;
    font-size: 30px;
    color: #3e2ad8;
    position: absolute;
    text-align: center;
    border: 1px solid #d0d3ff;
    background-color: #f8f8ff;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.faq-accordion.accordion {
    max-width: 900px;
}

.faq-accordion .accordion-item {
    border-radius: 7px;
    margin-bottom: 15px;
    color: var(--blackColor);
    background-color: var(--whiteColor);
}

.accordion-item .accordion-body p {
    color: var(--paragraphColor);
    font-size: 16px;
    margin-bottom: 0;
}


/* //-//-//-//-//-//-//-//-//-// */
/* Footer */
/* //-//-//-//-//-//-//-//-//-// */


.footer {
    background-color: #f8f8ff;
    border-top: 1px solid #f0f0f7;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer b {
    color: var(--secondaryColor);
}

.footer p {
    color: var(--paragraphColor);
    font-size: var(--fontSize);
    line-height: 1.6;
}

.footer li:first-child {
    margin-left: 0px;
}

.footer li {
    margin-right: 15px;
    margin-left: 15px;
}