.reviews {
  &__icon {
    width: 36px;
    height: 36px;
  }

  h4 {
    margin: 0;
    line-height: unset;
  }

  &__header > ul > li {
    span {
      font-size: 14px;
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__table {
    &__filter {
      button {
        padding-left: 20px;
        padding-right: 20px;
        color: #6c757d;

        &.active {
          border-radius: 0;
          border-top: none;
          border-right: none;
          border-left: none;
          border-bottom: 3px solid #000;
          color: #000;
        }
      }
    }
  }
}
