.scrap {
  &__header {
    h3 {
      margin: 0;
    }
    span {
      font-size: 12px;
    }
  }
  &__steps {
    &__item {
      border-radius: 20px;
      height: 36px;
      width: 160px;
      font-size: 14px;

      &__number {
        font-size: 10px;
        width: 20px;
        height: 20px;
      }

      &:nth-child(2).second-step {
        &:nth-child(2)::after {
          background-color: #007bff;
        }
      }
      &:nth-child(2) {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 50%;
          right: 158px;
          width: 50px;
          height: 1px;
          background-color: #dee2e6;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 50%;
          left: 158px;
          width: 50px;
          height: 1px;
          background-color: #dee2e6;
        }
      }
    }
  }
  &__content {
    position: relative;
    &__header {
      border-bottom: 1px solid #dee2e6;
      p {
        font-size: 12px;
        font-weight: 500;
      }
      h6 {
        font-size: 16px;
        font-weight: 600;
      }
    }
    &__body {
      label {
        font-size: 12px;
      }
    }
    &__dim {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 999;
      background-color: rgba(
        255,
        255,
        255,
        0.5
      ); /* A light transparent overlay */
      backdrop-filter: blur(1.2px); /* Adjust the blur intensity */
      -webkit-backdrop-filter: blur(1.5px); /* For Safari support */
    }
  }
}
