.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 1.5rem;
}

.p-0 {
  padding: 0;
}

.gap-1 {
  gap: 0.5rem;
}
.gap-2 {
  gap: 1rem;
}

.flex-column {
  flex-direction: column;
}
