.main {
  display: flex;
}

.sidebar {
  width: 230px;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100vh;
  border-right: 1px solid #e2e8f0;
}

.sidebar a:first-child {
  opacity: 1;
}
.sidebar a {
  padding: 0.75rem 10px;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  gap: 0.75rem;
  color: #2d3748;
  opacity: 0.6;
}

.sidebar a img {
  width: 20px;
}

.sidebar a.active {
  background: #f8fafc;
  border-right: 3px solid #2d3748;
  opacity: 1;
}

.sidebar a:hover {
  background: #f8fafc;
}

.sidebar .logo {
  opacity: 1;
  width: 50px;
}

.content {
  flex: 1;
  padding: 1.5rem;
}

.card {
  box-shadow:
    0 1px 2px rgba(15, 22, 36, 0.06),
    0 1px 3px rgba(15, 22, 36, 0.1);
  background-color: #fff;
  border-radius: 6px;
  padding: 1.5rem;
}
