.table-custom {
  margin: 0;
  border-color: var(--indigo-10);

  .form-check {
    background-color: #eee;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    input {
      margin: 0;
      padding: 0;
    }
  }
  
  &__head {
    th {
      &:not(caption) {
        background-color: #eee;
        font-weight: 400;
        font-size: 14px;
        color: #666;
        border: 0;
      }
      &:first-child {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
      }
      &:last-child {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
      }
      
      .icon-text {
        display: flex;
        gap: 8px;
        height: 24px;
      }

      &:last-child,
      &:first-child {
        width: 40px;
        text-align: center;

        .icon-text {
          justify-content: center;
        }
      }
    }
  }
  
  &__data-row {
    &__body {
      text-align: center;

      &:not(caption) {
        border-top-width: 0;
        border-bottom-width: 1px;
        padding: .75rem .5rem;
        color: #999;
      }

      button {
        padding: 4px 10px;
        font-size: 14px;
        cursor: pointer;
        margin: 0;
      }

      a {
        text-decoration: none;
        color: #999;
      }

      select {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        color: #999;
        font-size: 14px;
        font-weight: 400;
      }

      &__cell-content {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;

        .form-check {
          margin: 0;
        }
      }
    }
  }
}
