@import "./abstracts/variables";

@import "./base/reset";
@import "./base/typography";

@import "./abstracts/placeholders";
@import "./components/button";
@import "./components/sidebar";
@import "./components/steps";
@import "./components/form";
@import "./components/table";
@import "./components/image";

@import "./utilities/utilities";

.main {
  display: flex;
}

.container {
  flex: 1;
  padding-left: 230px;
}

.content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 100%;
    padding: 1.875rem 1.875rem 1px;
  }

  @media (min-width: 1200px) {
    width: 90%;
  }
}

.card {
  box-shadow:
    0 1px 2px rgba(15, 22, 36, 0.06),
    0 1px 3px rgba(15, 22, 36, 0.1);
  background-color: #fff;
  border-radius: 6px;
  padding: 32px;
}
