@import "./abstracts/variables";

@import "./base/reset";
@import "./base/typography";

@import "./abstracts/placeholders";
@import "./components/button";
@import "./components/sidebar";
@import "./components/steps";
@import "./components/form";
@import "./components/table";
@import "./components/image";
@import "./components/card";

@import "./utilities/utilities";

.main {
  display: flex;
}

.container {
  flex: 1;
  padding-left: 230px;
}

.content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 100%;
    padding: 1.875rem 1.875rem 1px;
  }

  @media (min-width: 1200px) {
    width: 90%;
  }
}
