/* You can add global styles to this file, and also import other style files */
// Import Bootstrap functions and variables first
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$theme-colors: (
  "primary": #f1c40f,
  "secondary": #2c3e50,
  "success": #2ecc71,
  "info": #3498db,
  "warning": #f39c12,
  "danger": #e74c3c,
  "light": #ecf0f1,
  "dark": #34495e
);

// Import the rest of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.leaflet-routing-container {
  display: none;
}

.leaflet-control-zoom {
  border: 0 !important;
  background-color: #333;
  padding: 6px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.leaflet-control-scale-line {
  background-color: #333;
  border-radius: 8px;
  padding: 6px;
  text-shadow: none;
  color: #fff;
  min-width: 40px;
  min-height: 26px;
  border: 0;
  box-shadow: none;
}

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
  background-color: #444;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 4px;
  margin: 0;
  font-size: 18px !important;

  &.leaflet-disabled {
    background-color: #000;
  }
}

.custom-icon,
.shield-icon {
  width: 42px;
  height: 42px;
  background-color: orange;
  border-radius: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: 2px solid #000;
  svg {
    width: 16px;
    height: 16px;
    fill: #000;
  }
}

.shield-icon {
  background-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  border-color: red;
  svg {
    fill: #fafafa;
  }
}

#map-dialog {
  background-color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 6px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 200px;
  max-width: 300px;
  min-height: 100px;
  position: absolute;
  top: 300px;
  left: 200px;
  z-index: 1000;
}
