body {
  // font-family: $font-family-base;
  font-style: normal;
  // background: $background-color;
  // color: $text-color;
}

h1 {
  // font-family: $font-family-heading;
  font-size: 2.5rem;
  // font-weight: $font-weight-bold;
  // line-height: $line-height-heading;
  // margin-bottom: $spacing-lg;
}

h2 {
  // font-family: $font-family-base;
  font-size: 2rem;
  // font-weight: $font-weight-bold;
  // line-height: $line-height-base;
  // margin-bottom: $spacing-lg;
}

h3 {
  // font-family: $font-family-base;
  font-size: 1.75rem;
  // font-weight: $font-weight-bold;
  // line-height: $line-height-base;
  // margin-bottom: $spacing-lg;
  @media (max-width: 576px) {
    font-size: 1.2rem;
  }
}
h4 {
  margin: 0;
  line-height: unset;
}

h6 {
  font-size: 16px;
  font-weight: 600;
}

p {
  font-size: 12px;
  font-weight: 500;
  // font-size: $font-size-base;
  // line-height: $line-height-base;
  margin-top: 0;
  // margin-bottom: $spacing-md;
  @media (max-width: 576px) {
    font-size: 12px;
  }
}

span {
  font-size: 14px;
}

small {
  // font-size: $font-size-sm;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-muted {
  // color: $neutral-dark;
}

.text-primary {
  // color: $primary-color;
}

.text-secondary {
  // color: $secondary-color;
}

.text-success {
  // color: $success-color;
}

.text-danger {
  // color: $danger-color;
}

.text-light {
  // color: $light-color;
}
