.info-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 1rem;
    padding: 0.5rem 0;
    strong {
      display: inline-block;
      min-width: 200px;
    }
    border-bottom: 1px solid $border-color;
  }

  ul {
    list-style: none;
    padding-left: 1rem;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 8px;

    li {
      strong {
        min-width: 0;
      }
      border: 0;
    }
  }
}
