.loader {
  position: relative;

  img {
    width: 35px;
    height: 35px;

    animation: spin 0.5s linear infinite;
  }

  &--md {
    img {
      width: 50px;
      height: 50px;
    }
  }

  &--lg {
    img {
      width: 70px;
      height: 70px;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
