.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1rem;
  width: 260px;
  font-size: 16px;

  a {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 0.5rem;
    color: #666;
    text-decoration: none;

    &.active {
      background-color: #f0f0f0;
      color: #000;
      font-weight: 900;
    }
  }

  span {
    margin-left: 1rem;
  }
}
