.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  padding: 1rem;
  width: 260px;
  font-size: 16px;

  a {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.5rem;
    text-decoration: none;

    &.active {
      background-color: #f0f0f0;
    }
  }

  span {
    margin-left: 1rem;
  }
}
