.sidebar {
  width: 180px;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  display: flex;
  border-right: 1px solid #e9ecef;
  // background-color: #f8f9fa;

  a {
    padding: 0.5rem 0;
  }

  img {
    width: 18px;
    top: -2px;
    position: relative;
  }

  span {
    margin-left: 10px;
  }
}
