.progress {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  padding-top: 20px;
  justify-content: flex-end;
  margin-bottom: $spacing-lg;

  &__text {
    position: absolute;
    top: calc(50% - 32px);
    left: 50%;
    transform: translateX(-50%);
    margin-left: 8px;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    text-transform: capitalize;
  }

  &__step {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: $font-size-sm;
    color: $primary-color;
    position: relative;
    width: 100%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: -50%;
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      z-index: 1;
      border-top-left-radius: $border-radius-md;
      border-bottom-left-radius: $border-radius-md;
    }

    &::after {
      left: 50%;
      width: 10px;
      height: 10px;
      background-color: $primary-color;
      border-radius: 50%;
      z-index: 2;
    }

    &:first-child::before {
      left: 0;
    }
    &:first-child.active::before {
      width: 50%;
    }
    &:last-child::before {
      width: 150%;
      border-top-right-radius: $border-radius-md;
      border-bottom-right-radius: $border-radius-md;
    }

    &.active {
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: $primary-color;
        border: 1px solid $primary-color;
      }
      & ~ .progress__step {
        &::after {
          border-color: #eee;
        }

        &::before,
        &::after {
          background-color: #ccc;
        }
      }

      .progress__text {
        color: $primary-color;
        font-weight: $font-weight-bold;
      }
    }
    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}
