:root {
  --fontSize: 16px;
  --transition: 0.5s;
  --whiteColor: #ffffff;
  --blackColor: #242424;
  --primaryColor: #ed1d78;
  --secondaryColor: #605dff;
  --paragraphColor: #666666;
  --fontFamily: "Jost", sans-serif;
  --primaryGradientColor: linear-gradient(90deg, #ed1d78 0%, #ed1b25 100%);
  --secondaryGradientColor: linear-gradient(90deg, #605dff 0%, #9013fe 100%);
}

* {
  font-family: "Jost", sans-serif;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.geo-btn {
  border: 0;
  z-index: 1;
  padding: 14px 30px;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  transition: 0.5s;
  font-size: var(--fontSize);
  font-weight: 500;
  text-decoration: none;
}

.geo-btn__style-two {
  color: var(--whiteColor);
  background: var(--primaryGradientColor);
}

.geo-btn__style-two:hover {
  color: var(--whiteColor);
  background: var(--secondaryGradientColor);
}

.geo-btn__default {
  color: var(--whiteColor);
  background: var(--secondaryGradientColor);
}

.geo-btn__default:hover {
  color: var(--whiteColor);
  background: var(--primaryGradientColor);
}

.section-title {
  max-width: 650px;
  margin-top: -5px;
  margin-bottom: 50px;
}

.section__footer {
  margin-bottom: -5px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.bg-indigo {
  background-color: #f0f0ff;
}

/* //-//-//-//-//-//-//-//-//-// */

.geo-navbar {
  transition: 0.2s;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
  position: absolute;
}

.geo-navbar__brand {
  display: flex;
  align-items: center;
}

.geo-navbar__content {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.geo-navbar__content--menu {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.geo-navbar__content--menu__item a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
  color: #242424;
  margin: 0px 17px;
}

.geo-navbar__content--menu__item:first-child {
  margin-left: 0;
}

/* //-//-//-//-//-//-//-//-//-// */
/* Home Section */
/* //-//-//-//-//-//-//-//-//-// */

.home-section {
  background-color: #f0f0ff;
}

.section__area {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section__content {
  max-width: 510px;
}

.home-section__content--title {
  line-height: 1.25;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
  color: var(--blackColor);
}

.home-section__content--subtitle {
  font-size: 17px;
  color: var(--paragraphColor);
}

.home-section__content .geo-btn {
  margin-top: 12px;
}

.banner-image {
  width: 100%;
  border-radius: 16px;
  background-color: var(--whiteColor);
}

.image {
  background-color: #ffffff;
  height: 514px;
  border-radius: 7px 7px 0 0;
  background: var(--whiteColor);
  /* background-image: url("./images/home-banner.png"); */
  background-size: cover;
  background-clip: border-box;
}

.banner-image__content {
  display: flex;
  justify-content: space-between;
  background-color: #ffe302;
  border-radius: 0 0 7px 7px;
  padding: 30px 70px;
  align-items: center;
}

.banner-image__content span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 500;
}

/* //-//-//-//-//-//-//-//-//-// */
/* Can Get Section */
/* //-//-//-//-//-//-//-//-//-// */

.can-get-section__box {
  margin-bottom: 25px;
  padding: 40px 20px 40px 90px;
  position: relative;
}

.can-get-section__box::before {
  inset: 0;
  z-index: -1;
  content: "";
  margin-left: 34px;
  border-radius: 7px;
  position: absolute;
  background-color: #f6f9fe;
}

.can-get-section__box__single {
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 25px;
  border: 1px solid #e3e3ff;
  position: relative;
}

.can-get-section__box__single__title {
  font-size: 20px;
  margin-bottom: 12px;
  color: var(--blackColor);
  font-weight: 600;
}

.can-get-section__box__single__subtitle {
  line-height: 1.6;
  color: var(--paragraphColor);
}

.can-get-section__box__single__icon {
  left: 0;
  top: 50%;
  width: 68px;
  height: 68px;
  font-size: 30px;
  color: #3e2ad8;
  position: absolute;
  text-align: center;
  border: 1px solid #d0d3ff;
  background-color: #f8f8ff;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.faq-accordion.accordion {
  max-width: 900px;
}

.faq-accordion .accordion-item {
  border-radius: 7px;
  margin-bottom: 15px;
  color: var(--blackColor);
  background-color: var(--whiteColor);
}

.accordion-item .accordion-body p {
  color: var(--paragraphColor);
  font-size: 16px;
  margin-bottom: 0;
}

/* //-//-//-//-//-//-//-//-//-// */
/* Testimonial Section */
/* //-//-//-//-//-//-//-//-//-// */
.testimonial-section__single {
  background-color: var(--whiteColor);
  padding: 30px;
  border-radius: 7px;
  transition: var(--transition);
  margin-bottom: 25px;
}

.testimonial-section__single__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  color: var(--paragraphColor);
  font-size: var(--fontSize);
}

.testimonial-section__single__subtitle {
  font-size: var(--fontSize);
  color: var(--paragraphColor);
}

.testimonial-section__single__details {
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 16px;
}

.testimonial-section__single__details__title,
.testimonial-section__single__details__subtitle {
  margin: 0;
}

.testimonial-section__single__details__title {
  color: var(--blackColor);
  font-weight: 500;
}

.testimonial-section__single__details__subtitle {
  color: var(--paragraphColor);
  font-size: 16px;
}

.testimonial-section__single__details__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* //-//-//-//-//-//-//-//-//-// */
/* Documentation Section */
/* //-//-//-//-//-//-//-//-//-// */

.documentation-image {
  padding-left: 56px;
}

.documentation__content__title {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--blackColor);
  font-weight: 700;
}

.documentation__content__subtitle {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: var(--paragraphColor);
}

.documentation__content .geo-btn {
  margin-top: 15px;
}

/* //-//-//-//-//-//-//-//-//-// */
/* Integration Section */
/* //-//-//-//-//-//-//-//-//-// */

.integration__card {
  background-color: #f7f6ff;
  border: 1px solid #e3e5ff;
  border-radius: 7px;
  margin-bottom: 25px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.integration__card__icon {
  width: 44px;
  height: 44px;
  background-color: var(--whiteColor);
  border-radius: 5px;
}

.integration__card__title {
  color: var(--blackColor);
}

.integration__card__subtitle {
  color: var(--paragraphColor);
  font-size: var(--fontSize);
}

/* //-//-//-//-//-//-//-//-//-// */
/* Pricing Section */
/* //-//-//-//-//-//-//-//-//-// */
.pricing__single {
  z-index: 1;
  position: relative;
  padding: 50px 35px;
  border-radius: 15px;
  border: 1px solid #e3e5ff;
  background-color: var(--whiteColor);
  box-shadow: 0 5.632px 70.394px #0000000d;
}

.pricing__single__most-popular::before {
  inset: 0;
  z-index: -1;
  content: "";
  position: absolute;
  border-radius: 15px;
  border: 2px solid var(--primaryColor);
}

.pricing__single--popular-text {
  left: 35px;
  top: -13px;
  font-size: 14px;
  padding: 3px 13px;
  border-radius: 30px;
  position: absolute;
  color: var(--whiteColor);
  background: var(--primaryColor);
}

.pricing__single__title {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--blackColor);
  font-weight: 700;
}

.pricing__single__price {
  font-size: 40px;
  color: var(--blackColor);
  margin-top: 25px;
  margin-bottom: 20px;
}

.pricing__single__subtitle {
  color: var(--paragraphColor);
  font-size: var(--fontSize);
  margin-bottom: 15px;
  line-height: 1.6;
}

.pricing__single .geo-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  box-shadow: 0 5.632px 28.158px #00000026;
}

.pricing__single__span {
  display: block;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}

.pricing__single__menu__item:last-child {
  margin: 0;
}

.pricing__single__menu {
  margin: 0;
}

.pricing__single__menu__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 16px;
  text-transform: capitalize;
  color: var(--paragraphColor);
}

.pricing__single__img {
  width: 100%;
  margin-top: 87px;
}

.pricing__single__img img {
  max-width: 100%;
  height: auto;
}

/* //-//-//-//-//-//-//-//-//-// */
/* Footer */
/* //-//-//-//-//-//-//-//-//-// */

.footer {
  background-color: #f8f8ff;
  border-top: 1px solid #f0f0f7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer b a {
  color: var(--secondaryColor);
  text-decoration: none;
}

.footer p {
  color: var(--paragraphColor);
  font-size: var(--fontSize);
  line-height: 1.6;
}

.footer li:first-child {
  margin-left: 0px;
}

.footer li a {
  color: var(--blackColor);
  text-decoration: none;
  margin-right: 15px;
  margin-left: 15px;
}
